{% extends 'base2.html' %}

{%block section%}

<div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<body>

<div id="myPlot" style="width:100%;max-width:700px"></div>

<script>
var xArray = {{xaxis|tojson}};
var yArray ={{yaxis|tojson}};

// Define Data
var data = [{
  x: xArray,
  y: yArray,
  mode:"dots"
}];

// Define Layout
var layout = {
  xaxis: {range: [1651564593000,1651074993000], title: "Date"},
  yaxis: {range: [0, 1000], title: "Amount paid"},  
  title: "Payments"
};

// Display using Plotly
Plotly.newPlot("myPlot", data, layout);
</script>
</div>
{%for i in history%}
<div class="payment history"> 
    <h5>{{i.paiddate}} : {{i.amount}} $</h5>
</div>
{% endfor %}

{% endblock %}