{% extends 'base2.html' %}

{% block section %}
<section class='payments_main_buttons'>
    <a href='#'><button type='button' data-toggle="modal" data-target="#add_single_payment_modal">Add a One Time payment
            <img src='../static/img/add.svg'></button></a>
    <a href='#'><button type='button' data-toggle="modal" data-target="#add_recurring_payment_modal">Add a Recurring payment
            <img src='../static/img/add.svg'></button></a>
</section>


<!-- FORM USED TO GET INFORMATION AND ADD NEW PAYMENTS -->
<div class="modal fade" id="add_single_payment_modal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add a One Time Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action='' method="POST">
                <div class="modal-body">
                    <fieldset>
                        <label for='payment_input_amount'>Payment Amount</label>
                        <input id='payment_input_amount' type="number" name='payment_input_amount' placeholder="Amount">
                    </fieldset>

                    <fieldset>
                        <label for='payment_input_type'>Payment Type</label>
                        <select id='payment_input_type' name='payment_input_type'>
                            <option value='one_time'>One Time</option>
                        </select>
                    </fieldset>

                    <fieldset>
                        <label for='payment_input_currency'>Payment Currency</label>
                        <select id='payment_input_currency' name='payment_input_currency'>
                            <option value='usd'>USD</option>
                            <option value='eur'>EUR</option>
                            <option value='lbp'>LBP</option>
                        </select>
                    </fieldset>

                    <fieldset>
                        <label for='payment_input_duedate'>Payment Due Date</label>
                        <input id='payment_input_duedate' type="date" name='payment_input_duedate'>
                    </fieldset>

                    <fieldset>
                        <label for='payment_input_description'>Payment Description</label>
                        <textarea id='payment_input_description' name='payment_input_description' placeholder="Enter a description for your account..."></textarea>

                    </fieldset>

                </div>
                <div class="modal-footer">
                    <a class='payment_btn delete_btn' href='#'><button type="button"
                            data-dismiss="modal">Cancel</button></a>
                    <a class='payment_btn' href='/UpcomingPayments'><button type="submit">Add Payment</button></a>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Added modal for recurring billings (NEED TO ADD SUPPORT FROM BACKEND) -->
<div class="modal fade" id="add_recurring_payment_modal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel3" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel3">Add a Recurring Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action='' method="POST">
                <div class="modal-body">
                    <fieldset>
                        <label for='payment_input_amount2'>Payment Amount</label>
                        <input id='payment_input_amount2' type="number" name='payment_input_amount' placeholder="Amount">
                    </fieldset>

                    <fieldset>
                        <label for='payment_input_type2'>Payment Type</label>
                        <select id='payment_input_type2' name='payment_input_type'>
                            <option value='recurring'>Recurring</option>
                        </select>
                    </fieldset>

                    <fieldset>
                        <label for='payment_input_currency2'>Payment Currency</label>
                        <select id='payment_input_currency2' name='payment_input_currency'>
                            <option value='usd'>USD</option>
                            <option value='eur'>EUR</option>
                            <option value='lbp'>LBP</option>
                        </select>
                    </fieldset>

                    <fieldset>
                        <label for='payment_input_period2'>Repeat</label>
                        <select id='payment_input_period2' name='payment_input_period'>
                            <option value='weekly'>Weekly</option>
                            <option value='monthly'>Monthly</option>
                            <option value='yearly'>Yearly</option>
                        </select>
                    </fieldset>

                    <fieldset>
                        <label for='payment_input_duedate2'>First Due Date</label>
                        <input id='payment_input_firstduedate2' type="date" name='payment_input_duedate'>
                    </fieldset>

                    <fieldset>
                        <label for='payment_input_description2'>Payment Description</label>
                        <textarea id='payment_input_description2' name='payment_input_description' placeholder="Enter a description for your account..."></textarea>

                    </fieldset>

                </div>
                <div class="modal-footer">
                    <a class='payment_btn delete_btn' href='#'><button type="button"
                            data-dismiss="modal">Cancel</button></a>
                    <a class='payment_btn' href='/UpcomingPayments'><button type="submit">Add Payment</button></a>
                </div>
            </form>
        </div>
    </div>
</div>



    <section class='payments_container'>
        <!-- USE A FOR LOOP TO CHECK EACH USER PAYMENT AND USE IF STATEMENTS TO SET THE 
    CORRECT CARD (EXPIRED/NOT EXPIRED), FOLLOWING ARE TWO EXAMPLES -->
    {% if amounts|length < 1 %} <h4>There are no payments.</h4>
    {% else %}
    {% for a in user.payments %}
        <!-- IF PAYMENT HASN'T EXPIRED USE THE FOLLOWING CARD-->
        <div class='payment_card'>
            <h5 class='payment_subtitle'>Amount</h5>
            <div class='payment_title'>
                <div class='payment_amount'>
                    <h4>
                        {{ a.amount }}
                    </h4>
                    <p>
                        {{ a.currency}}
                    </p>
                </div>
                <h6>
                    {{ a.type }} {{ a.period }}
                </h6>
            </div>
            <hr>
            <div class='payment_info'>
                <h5 class='payment_subtitle'>Description</h5>
                <p class='payment_description'>
                    {{ a.description }}
                </p>
            </div>
            <div class='payment_status'>
                <h5 class='payment_subtitle'>Status</h5>
                <p class='upcoming'>
                    {% if date < a.duedate %} <p class='upcoming'>Upcoming</p>
                {% else %}
                <p class='past-due'>Past Due</p>
                {% endif %}

                </p>
            </div>
            <div class='payment_date'>
                <h5 class='payment_subtitle'>Due Date</h5>
                <p>{{ a.duedate }}</p>
            </div>
            <hr>
            <div class='payment_buttons'>
                <a class='payment_btn' href='/SetAsPaid/{{ a.id }}'><button type='button'>Set as Paid</button></a>
                <a class='payment_btn delete_btn' href='/DeletePayment/{{ a.id }}'><button
                        type='button'>Delete</button></a>
            </div>
        </div>

        {% endfor %}
        {% endif %}
        {% endblock %}