@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@media(max-width: 1000px){


    body{
        margin: 0%;
        font-family: PT Sans, open-sans;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    hr{
        background-color: #626f2d;
        width: 100%;
    }

    .privacy_title{
        margin-bottom: 3rem;
        color: #626f2d;
    }

    .navigation{
        display: flex;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        margin: 0%;
        justify-content: space-between;
        align-items: center;
    }


    .navigation img{
        height: 7rem;
        width: 11rem;
    }

    .navigation ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        flex-wrap: wrap;
        padding-left: 0px;
    }

    .navigation ul a{
        text-decoration: none;
        color: white;
        font-size: large;
        margin: 0rem 1rem;
    }

    .navigation ul a:hover{
    color: #626f2d;
    }

    main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 100%;
        padding: 1rem;
    }
    

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    label{
        font-size:1rem;
    }


    fieldset{
        display: flex;
        border: none;
        margin: 2rem 0rem;
        flex-direction: column;
    }



    input, textarea{
        border: none;
        border-bottom: solid 0.1rem black;
        border-radius: 0%;
        width: 17.5rem;
        height: 2rem;
        color: #626f2d;
        caret-color: #626f2d;
    }

    input::placeholder, textarea::placeholder{
        font-size: 1rem;
        line-height: 1rem;
    }

    #support_message{
        min-height: 7rem;
        max-height: 10rem;
        max-width: 17.5rem;
        min-width: 17.5rem;
    }

    .submit_btn button{
        background-color: transparent;
        border: none;
        font-size: medium;
        border: solid 0.1rem #626f2d;
        padding: 0.25rem 1rem;
    }

    .submit_btn button:hover{
        color: #626f2d;
    }
    
    footer{
        visibility: hidden;
    }

    footer div{
        width: 100%;
        display: flex;
        margin: 0%;
        background-color: black;
        height: 6rem;
        color: gray;
        font-size: smaller;
        flex-direction: column;
        align-items: center;
        vertical-align: middle;
    }

    footer div a{
        color: #626f2d;
    }
    .alert{
        margin: 0% !important;
    }
}