@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@media(min-width: 1001px){
    
*{
    margin: 0;
    padding: 0;
    font-family: PT Sans, open-sans;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("../img/1.jpg");
    background-size: cover;
    background-position: center;
}
.test3{
    width: 95%;
    margin: auto;
    padding: 35px 0;
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
}
.logo{
    height: 7rem;
    width: 11rem;
    cursor: pointer;
}
.test3 ul li{
    list-style: none;
    display: inline-block;
    margin: 0 1rem;
    position: relative;

}
.test3 ul li a{
    text-decoration: none;
    color: #fff;
}

.test3 ul li a:hover{
    color: #626f2d;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font: size 70px;
    margin-top: 80px;

}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #626f2d;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}
span{
    background: #626f2d;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;


}
}